{% extends 'AGVaultBundle::layout.html.twig' %}

{% block breadcrumbs %}
	{{ parent() }}
	{{ render(controller('AGVaultBundle:Folder:getParents', { id:folder.id })) }}
	<li class="active">Nouveau</li>
{% endblock %}

{% block ag_vault_content %}
	<div class="row">
		<div class="col-md-12">
			<h2>{{ fa('plus') }} Nouveau dossier</h2>
			<hr/>
			{% include 'AGVaultBundle:Folder:form.html.twig' %}
		</div>
	</div>
{% endblock %}