{% extends '::base.html.twig' %}

{% block flashbag %}
	{% for label, flashes in app.session.flashbag.all %}
		{% for flash in flashes %}
			<div class="alert alert-{{ label }} alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ flash }}
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		{% block breadcrumbs %}
			<li><a href="{{ path('ag_vault_homepage') }}">{{ fa('home') }}</a></li>
		{% endblock %}
	</ol>
	{% block ag_user_content %}
	{% endblock %}
{% endblock %}